<% layout('/layouts/form.html', {title: '栏目编辑', formId: 'messageTemplateForm', bodyClass: 'white-bg', libs: 'ueditor'}){ %>
<#form:form id="messageTemplateForm" modelAttribute="data"  method="post" class="form-horizontal">
	<#form:hidden path="id"/>
	<table  class="table table-bordered  table-condensed dataTables-example dataTable no-footer">
		<tbody>
			<tr>
				<td  style="width: 10%" class="active text-right">
					<label><font color="red">*</font>模版名称:</label>
				</td>
				<td class="width-35" >
					<#form:input path="name" class="form-control " datatype="*" nullmsg="请输入主题名称！" htmlEscape="false" />
					<label class="Validform_checktip"></label>
				</td>
			</tr>
			<tr>
				<td  class="active text-right">
					<label><font color="red">*</font>模版标题:</label>
				</td>
				<td class="width-35" >
					<#form:input path="templateTitle" class="form-control " datatype="*" nullmsg="请输入模版标题！" htmlEscape="false" />
					<label class="Validform_checktip"></label>
				</td>
			</tr>
			<tr>
				<td class="active">
					<label class="pull-right"><font color="red">*</font>编辑器:</label>
				</td>
				<td style="height: 300px">
					<#form:editor editorType="ueditor"  height="500px" path="templateContent"/>
				</td>
			</tr>
		</tbody>
	</table>
</#form:form>
<% } %>