<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.sys.mapper.OrganizationMapper">

	<!-- 查询父模块 -->
	<resultMap id="parentResult" type="Organization">
		<id property="id" column="parent_id" />
		<result property="name" column="parent_name" />
	</resultMap>

	<resultMap id="BaseResultMap" type="Organization">
		<!-- 树形基础模块 -->
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />
		<result column="parent_ids" property="parentIds" jdbcType="VARCHAR" />
		<result column="hasChildren" property="hasChildren" />

		<!-- 扩展模块 -->
		<result column="remarks" property="remarks" jdbcType="VARCHAR" />

		<!-- 不知到为什么一定要放在最后才行 -->
		<association property="parent" resultMap="parentResult" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.name,
		t.parent_id,
		t.parent_ids,
		t.parent_id AS parent_id,
		p.name AS parent_name,
		t.remarks,
		(select count(*) from sys_organization s
		WHERE s.parent_id=t.id) as
		hasChildren
	</sql>

	<sql id="parentJoins">
		LEFT JOIN sys_organization p ON p.id = t.parent_id
	</sql>

	<select id="selectByTreeId" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_organization t
		<include refid="parentJoins" />
		where t.id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="selectTreeList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_organization t
		<include refid="parentJoins" />
		<where>
			${ew.sqlSegment}
		</where>
	</select>

	<!-- 通过用户ID组织机构 -->
	<select id="findListByUserId" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		from sys_organization t
		<include refid="parentJoins" />
		LEFT JOIN sys_user_organization uo on t.id=uo.organization_id
		WHERE uo.user_id=
		#{userId}
	</select>

	<!-- 更新子树 -->
	<update id="updateSunTreeParentIds">
		update sys_organization set parent_ids=
		CONCAT(#{newParentIds},
		<if test="'${dbType}' == 'mysql'">
		substring(parent_ids, length(#{oldParentIds})+1,length(parent_ids)+1))
		</if>
		<if test="'${dbType}' == 'oracle'">
			substr(parent_ids, length(#{oldParentIds})+1,length(parent_ids)+1))
		</if>
		where parent_ids like concat(#{oldParentIds}, '%')
	</update>
	<!-- 删除子树 -->
	<delete id="deleteSunTree" parameterType="java.lang.String">
		delete from sys_organization
		where parent_ids like concat(#{oldParentIds}, '%')
	</delete>

</mapper>