<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.shop.sys.service.modules.sys.mapper.ProductCateGoryMapper">
    <resultMap id="MallCategoryMap" type="com.company.shop.sys.service.modules.sys.entity.ProductCateGoryEntity">
        <id column="id" property="id"/>
        <result column="image_url" property="imageUrl"/>
        <result column="description" property="description"/>
        <result column="pid" property="pid"/>
        <result column="category_code" property="categoryCode"/>
        <result column="sub_name" property="subName"/>
        <result column="status1" property="status"/>

    </resultMap>
    <sql id="cate_mallSql">
        SELECT id,image_url,description,pid,category_code,sub_name FROM tomato_product_category where status1=1

    </sql>

    <!--查询配置的商品类别-->
    <select id="getProductCategory" resultMap="MallCategoryMap">

        <include refid="cate_mallSql"/>
    </select>


</mapper>