<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.sys.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="Role" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="is_sys" property="isSys" jdbcType="VARCHAR" />
    <result column="usable" property="usable" jdbcType="VARCHAR" />
    <!-- <result column="create_by" property="createBy" jdbcType="VARCHAR" />-->
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
   <!--<result column="update_by" property="updateBy" jdbcType="VARCHAR" />  --> 
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    r.id, 
    r.name, 
    r.code, 
    r.is_sys, 
    r.usable, 
    r.create_date, 
    r.update_date, 
    r.remarks, 
    r.del_flag
  </sql>
  
  <!-- 通过用户ID角色 -->
  <select id="findRoleByUserId"  resultMap="BaseResultMap">
		SELECT 
		   <include refid="Base_Column_List" />
		FROM sys_role r 
		LEFT JOIN sys_user_role ur on r.id=ur.role_id
		WHERE ur.user_id= #{userId}
  </select>
  
  
</mapper>