<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.sys.mapper.UserOnlineMapper" >
   
   <sql id="Base_Column_List" >
    uo.id,
    uo.user_id,
	uo.username,
	uo.host,
	uo.system_host,
	uo.user_agent,
	uo.status,
	uo.start_timestsamp,
	uo.last_access_time, 
    uo.online_timeout,
    uo.online_session
  </sql>
  
  <select id="selectUserOnlinePage"  resultType="UserOnline">
    select 
    <include refid="Base_Column_List" />
    FROM sys_user_online uo
    <where>
	   ${ew.sqlSegment} 
	</where>
  </select>
</mapper>