<!DOCTYPE html>
<html style="overflow-x:auto;overflow-y:auto;">
<head>
    <#html:css  name="iCheck,datepicker,jqgrid,sweetalert,layer"/>
</head>
<body class=" ">
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="portlet box">
                    <div class="portlet-body">
                        ${layoutContent}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END CONTENT-->
    <#html:js  name="jqGrid,jqGrid_curdtools,layer,sweetalert,datepicker,Validform"/>
</body>
</html>