<% layout('/layouts/list.html', {title: @MessageUtils.getMessage('sys.role.title',''), libs: 'bootstrap-treeview'}){ %>
<#grid:grid id="roleGrid" url="${adminPath}/sys/role/ajaxList">
    <#grid:column label="sys.common.key" hidden="true"   name="id" width="100"/>
    <#grid:column label="sys.common.opt"  name="opt" formatter="button" width="100"/>
    <#grid:button title="sys.role.authMenu"  groupname="opt" function="updateObj" outclass="btn-info" winwidth="300px" innerclass="fa-plus" url="${adminPath}/sys/role/authMenu" />
    <#grid:button   groupname="opt" function="delete" />
    <#grid:column label="sys.role.name"  name="name"  query="true"  />
    <#grid:column label="sys.role.code"  name="code"  query="true"  />
    <#grid:column label="sys.role.isSys"  name="isSys"  dict="sf" />
    <#grid:column label="sys.role.usable"  name="usable"  dict="sf"/>

    <#grid:toolbar function="add"/>
    <#grid:toolbar   function="update"/>
    <#grid:toolbar   function="delete"/>

    <#grid:toolbar  function="search"/>
    <#grid:toolbar  function="reset"/>
</#grid:grid>
<% } %>