<!DOCTYPE html>
<html style="overflow-x:auto;overflow-y:auto;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/common/favicon.ico">
    <#html:css  name="favicon,bootstrap,font-awesome,animate"/>
    <link href="/static/common/css/style.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet box">
                <div class="portlet-body">
                    ${layoutContent}
                </div>
            </div>
        </div>
    </div>
</div>
<!--END CONTENT-->
<#html:js  name="jquery,bootstrap"/>
</body>
</html>