<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.business.goods.moudle.mapper.CateGorySubMapper">
    <resultMap id="MallCategoryMap" type="com.company.business.goods.moudle.entity.CateGorySubEntity">
        <id column="id" property="id"/>
        <result column="icon" property="icon"/>
        <result column="opt_name" property="opt_name"/>
        <result column="opt_id" property="opt_id"/>
        <result column="parent_opt_id" property="parent_opt_id"/>
        <result column="level" property="level"/>
        <result column="order_id" property="order"/>
    </resultMap>
    <sql id="cate_mallSql">
        SELECT id,icon,opt_name,opt_id,level,parent_opt_id,order_id FROM tomato_promotion_category_sub
    </sql>

    <!--查询配置的商品类别-->
    <select id="getCategorySubList" resultMap="MallCategoryMap">

        <include refid="cate_mallSql"/>
        where parent_opt_id=#{optId} order by order_id
    </select>

    <!--查询商品配置-->
    <select id="getCateGoryEntitySubList" resultMap="MallCategoryMap">

        <include refid="cate_mallSql"/>
        where parent_opt_id=#{optId}
    </select>


    <!--查询下级商品指定分类-->
    <select id="getCateGoryEntity" resultMap="MallCategoryMap">

        <include refid="cate_mallSql"/>
        where parent_opt_id=#{parent_opt_id} and opt_id=#{optId}
    </select>



</mapper>