<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.business.goods.moudle.mapper.PacketSaleMapper">
    <resultMap id="MallCategoryMap" type="com.company.business.goods.moudle.entity.PacketSaleEntity">
        <id column="id" property="id"/>
        <result column="rate" property="rate"/>
        <result column="upper_limit_amounts" property="upper_limit_amounts"/>


        <result column="lower_limit_amounts" property="lower_limit_amounts"/>
        <result column="status" property="status"/>
        <result column="create_by" property="create_by"/>
        <result column="create_id" property="create_id"/>
        <result column="create_date" property="create_date"/>
        <result column="update_by" property="update_by"/>
        <result column="update_id" property="update_id"/>
        <result column="update_date" property="update_date"/>
        <result column="order_num" property="order_num"/>


    </resultMap>
    <sql id="cate_mallSql">
        SELECT id,rate,upper_limit_amounts,lower_limit_amounts,status,order_num FROM tomato_promotion_packet_sale_config
    </sql>

    <!--获取红包奖励规则列表:升序-->
    <select id="getPacketList" resultMap="MallCategoryMap">
        <include refid="cate_mallSql"/>where status=1 order by order_num ASC
    </select>


    <!--获取当前实体-->
    <select id="getPacketSale" resultMap="MallCategoryMap">
        <include refid="cate_mallSql"/>where status=1 and order_num=#{order_num}
    </select>



</mapper>