<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.business.goods.moudle.mapper.PropertyMapper">
    <resultMap id="signMap" type="com.company.business.goods.moudle.entity.PropertyEntity">
        <id column="id" property="id"/>
        <result column="commission_money_able" property="commission_money_able"/>
        <result column="commission_money_back" property="commission_money_back"/>
        <result column="user_name" property="user_name"/>


    </resultMap>
    <sql id="Base_normal_select">
        select id,commission_money_able,commission_money_back,user_name FROM tomato_promotion_user_property
    </sql>

    <!--获取用户的资产情况-->
    <select id="getProperty" resultMap="signMap">
        <include refid="Base_normal_select"/>
        where user_name=#{username}
    </select>

    <!--更新，三项数据-->
    <update id="updateProperty" parameterType="map">
        update tomato_promotion_user_property set commission_money_able=#{commissionAble},commission_money_back=#{commissionBack} where user_name=#{username}
    </update>
    <!--更新，两项数据-->

    <update id="updatePropertyNoAble" parameterType="map">
        update tomato_promotion_user_property set commission_money_back=#{commissionBack} where user_name=#{username}
    </update>


</mapper>