<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500</title>
    <link rel="shortcut icon" href="/static/common/favicon.ico">
    <#html:css  name="favicon,bootstrap,font-awesome,animate"/>
    <link href="/static/common/css/style.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="middle-box text-center animated fadeInDown">
    <h1>500</h1>
    <h3 class="font-bold">服务器内部错误</h3>
    <div class="error-desc">
        当前操作出现未知异常,请将操作步骤反馈给管理员进行排查...
    </div>
</div>
<!-- 全局js -->
<#html:js  name="jquery,bootstrap"/>
</body>
</html>